@import "ui-variables";
@import "syntax-variables";

.datatip-marked > div:not(:last-child) {
  border-bottom: 1px solid fade(@syntax-cursor-color, 10%);
  // user-select: text;   // allow selecting text // TODO does not work
}

.datatip-marked-container {
  color: @syntax-text-color;
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  max-height: 400px;
  max-width: 64em;
  overflow: auto;
  white-space: normal;
  // user-select: text;

  // Avoid excess internal padding from markdown blocks.
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  pre {
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);
    margin-bottom: 8px;
    border-radius: 0;
  }

  p {
    &:first-child {
      margin-top: 8px;
    }
    &:last-child {
      margin-bottom: 8px;
    }
  }
}
